.fs-85 {
    font-size: 85px;
}

.fs-55 {
    font-size: 55px;
}

.fs-48 {
    font-size: 48px;
}

.fs-38 {
    font-size: 38px;
}

.fs-36 {
    font-size: 36px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-17 {
    font-size: 17px;
}

.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}
